html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100%;
    min-height: 100%;
    background-color: rgb(0, 0, 0);
}


#display {
    flex: .60;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(src/background.jpg);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
    margin: 10px;
}

#top {
    text-align: center;
}


#footer {
    background-color: lightgreen;
    flex: .4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container button {
    margin: 10px;
    width: 500px;
    height: 80px;
}
.startPage {
    background-color: lavender;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#startButton {
    width: 6em;
    border: 2px solid green;
    background: #ffe;
    border-radius: 5px;
}

a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    color: red;
    background: #eff;
}